.vscode
env/
new.pub
new
/Deep Learning/dog-breed-identification
/ML-LAB/creditcard.csv
/ML-LAB/Student_performance_data _.csv
/ML-LAB/mnist_784.csv
/ML-LAB/TCGA-PANCAN-HiSeq-801x20531
/ML-LAB/TCGA-PANCAN-HiSeq-801x20531.tar.gz